.navbar{
    background-color: rgba(216, 216, 216, 0.685);
    /* border-radius: 100px;  */
} 
.navbar ul{
    text-align: right;
}
.navbar li{
    list-style: none;
    margin: 13px 20px;
    align-items: center;
    text-align: right;
    display: inline-block;
    text-transform: uppercase;
    font:bold;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar li a{
    padding: 20px 15px;
    text-decoration: none;
    color: black;
}
.navbar li a:hover{
    /* border-radius: 10px; */
    color: blue;
    /* border: 2px solid black; */

}